<!DOCTYPE html>
<html lang="ja">
<head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body clss="mypage">
        <h1>マイページ</h1>
        <p>名前 : <%= @user.name %></p>

        <p class="mypage">
        　<%= image_tag @user.image_url, size: "250x200" if @user.image? %>
        </p>
        
        <p>メールアドレス : <%= @user.email %></p>
        <p>プロフィール : <%= @user.profile %></p>
        
        <% if current_user.id == @user.id %>
        <%= link_to "編集する", edit_user_registration_path %>
        <% end %>
    




<%= link_to "一覧に戻る", cameras_path %>
                
        

    </body>
</html>